<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      src="https://kit.fontawesome.com/185acf8382.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Todo List</title>
  </head>
  <body>
    <div id="board-wrapper">
      <div class="board-add-btn">
        Add a new Board
        <div>+</div>
      </div>
    </div>
    <div id="modal-wrapper">
      <div class="modal-content" id="modalContent">
        <form id="boardForm">
          <label for="Name">Board Name</label>
          <input type="text" name="Name" id="board-name-input" />
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="copyright">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        b-blots-tran
        <a href="https://github.com/b-blots-tran">
          <i class="fab fa-github" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </body>
</html>
