@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: "Nunito", sans-serif;
  --secondary-color: rgb(30, 31, 34);
  --highlight-color: #71b9ff;
  --main-color: rgb(49, 51, 56);
  --font-color: #cdcbca;
  scrollbar-width: auto;
  scrollbar-color: #525152 #050505;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background: var(--main-color);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(74, 77, 78);
  border-radius: 8px;
  background-clip: padding-box;
}
html,
body,
div,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--font-color);
}

body {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
#board-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  min-height: calc(100vh - 80px);
}
.board-name {
  margin: 2% 20px 0px 20px;
  height: fit-content;
  font-size: 2rem;
  color: var(--font-color);
  display: inline-flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}
.board-name .content-menu {
  display: none;
  margin-right: 0;
  margin-left: 0;
}
.board-name:hover {
  .content-menu {
    display: block;
  }
}

.board-add-btn {
  height: fit-content;
  font-size: 2rem;
  color: var(--font-color);
  text-align: center;
  width: 40%;
  padding: 10px 0;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: auto;
}
.board-add-btn:hover {
  cursor: pointer;
  background-color: var(--main-color);
}
#none {
  display: none;
}
.board {
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin: 10px auto;
  min-height: fit-content;
  max-height: 90vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 25px;
  padding: 0 20px;
  grid-auto-flow: column;
  grid-template-rows: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
}

.lists {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 350px;
  background-color: var(--main-color);
  padding-bottom: 1px;
  height: fit-content;
  max-height: 100%;
}
.list {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  height: fit-content;
  max-height: 100%;
}
.add-list-btn:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 2px solid var(--main-color);
}
.add-list-btn {
  display: flex;
  border: 2px solid var(--secondary-color);
  align-items: center;
  text-align: center;
  display: flex;
  margin: 0 auto;
  font-size: 1.5rem;
  height: fit-content;
  font-weight: 1000;
  align-items: center;
}
.list-title {
  display: flex;
  font-size: 1.5rem;
  height: fit-content;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: 1000;
}
.list-title .content-menu {
  margin-right: 20px;
  display: none;
}
.list-title:hover {
  .content-menu {
    display: block;
  }
}
.add-task-btn:hover {
  cursor: pointer;
}
.list-item {
  font-size: 1rem;
  height: fit-content;
  padding: 10px 0px;
  width: 99%;
  border-radius: 2px;
}
.list-item-content {
  margin: 0 10px 0 20px;
  display: flex;
  flex-direction: row;
}
.content-check-box {
  margin-right: 10px;
  flex-direction: column;
}
.content-text {
  background-color: inherit;
  outline: none;
  border: none;
  margin-right: 1px;
  align-items: center;
  display: flex;
  width: 90%;
}
.content-menu {
  margin-left: auto;
  flex-direction: column;
  position: relative;
}
.circle {
  width: 20px;
  height: 20px;
  border: 2px solid var(--font-color);
  border-radius: 50%;
  margin-top: 4px;
}
.circle:hover {
  background-color: var(--font-color);
}
.dot {
  width: 4px;
  height: 4px;
  margin: 4px;
  background: var(--font-color);
  border-radius: 50%;
  display: block;
}
.content-check-box:hover,
.content-text:hover,
.content-menu:hover {
  cursor: pointer;
}
.list-item:hover {
  background-color: #36393b;
}
.completed {
  .circle {
    background-color: var(--font-color);
  }
}
.strike-out {
  text-decoration: line-through;
}

.footer {
  display: flex;
  padding: 8px;
  margin-top: auto;
  background-color: var(--main-color);
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px -3px 10px 5px rgba(59, 59, 59, 0.5); */
  max-height: 40px;
}

.copyright {
  display: flex;
  max-width: 400px;
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
  margin: 0 auto;
  color: rgb(250, 250, 250);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.copyright a {
  color: white;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.3rem;
}

.modal-content {
  z-index: 1;
  width: 20%;
  height: 10%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  border-radius: 10px;
  position: absolute;
}
.modal-content input {
  z-index: 1;
  border-radius: 5px;
  width: 100%;
  outline: none;
}
#modal-wrapper {
  z-index: 0;
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #36393b8f;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  background-color: inherit;
  outline: none;
  border: none;
  color: var(--font-color);
}
input::placeholder {
  color: var(--font-color);
}
#newListForm {
  display: none;
}
